<div class="container mt-4">
    {% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    {% for product in products %}
    <div class="col-md-8">
        <div class="card mb-3" style="width: 740px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if product.picture %}
                    <a href="{{path ('product.show', {slug: product.slug, id: product.id})}}">
                    <img src="{{ vich_uploader_asset (product.picture, 'imgfile')}}" alt="{{product.name}}" style="width:20%; height:auto; display:block; margin:auto;">
                    </a>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path ('product.show', {slug: product.slug, id: product.id})}}">{{product.name}}</h5></a>
                        <p class="card-text">{{product.tags}}</p>
                        <p class="card-text"><small class="text-muted">caractéristique...</small></p>
                        {% include "cart/_form.cart.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>