<div class="container">
	<div class="row d-flex justify-content-center">
	{% if categories is not empty  %}
		<h2 class="mt-5 pb-3 text-center">Nos Porduits</h2>
		{% for product in products %}
			<div class="col-3">
				<div class="card">
					{% if product.picture %}
					<a href="{{path ('product.show', {slug: product.slug, id: product.id})}}">
						<img class="card-img-top" src="{{ vich_uploader_asset (product.picture, 'imgfile')}}" alt="{{product.name}}" style="width: 100%; height:15vw; object-fit:cover;">
					</a>
					{% endif %}
					<div class="card-body text-center">
						<h6 class="card-title">
							<a href="{{ path ('product.show', {slug: product.slug, id: product.id})}}">{{product.name}}</h6>
						</a>
						<p class="card-text">{{ product.formattedPrice }}</p>
						{% include "cart/_form.cart.html.twig" %}
					</div>
				</div>
			</div>
		{% endfor %}
		{% endif %}
	</div>
</div>
